* {
    margin: 0;
}

body {

    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3
}

header {
    background: linear-gradient(to right, red, orange);
    color: #f0e4e4;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid rgb(196, 18, 18);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.filters {
    padding: 20px;
    background-color: #efd5d5;
    overflow: auto;
}

.destination-list {
    padding: 20px;
}

.card {
    box-shadow: 2px 2px 8px gray;
    background-color: #e2d8d8;
    margin: 15px;
    padding: 15px;
    position: relative;
    z-index: 1;
    width: 300px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: scale(1.05)
}

.card img {
    width: 100%;
    filter: grayscale(20%);
    clip-path: circle();
}

.card::after {
    content: "Hot !";
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #e2d8d8;
    padding: 2px 6px;
    font: 0.7em;
    z-index: 2;
}

.booking-form form {
    background-color: #e2d8d8;
    padding: 20px;
    margin: 20px;
    border: 2px solid #96250f;
    border-radius: 10px;
}

.booking-form input,
.booking-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

input[type="email"]{
    border: 1px solid gray;
}

nav ul li:first-child a{
    font-weight: bold;
}